{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hola,{% endblocktranslate %}

{% blocktranslate %}Has solicitado restablecer la contraseña de tu cuenta en SIGLO. Haz clic en el siguiente enlace para continuar:{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Si no has solicitado este cambio, por favor ignora este mensaje.{% endblocktranslate %}

{% blocktranslate %}Nota: Si no encuentras el correo en tu bandeja de entrada, por favor revisa tu carpeta de SPAM o correo no deseado.{% endblocktranslate %}

{% blocktranslate %}Gracias,{% endblocktranslate %}
{% blocktranslate %}El equipo de SIGLO.{% endblocktranslate %}
{% endautoescape %}
